/* From https://codepen.io/retractedhack/pen/gPLpWe
 * by Chad Chartered (https://codepen.io/retractedhack)
 * retrieved Oct 8 2021 09:40 CEST
 */

body {
  text-align: center;
  font-size: 13.5px;
  line-height: 1.2em;
}

body *{
  box-sizing: border-box;
  max-width: 100%;
  font-family: 'Noto Sans', 'Myriad Pro', Calibri, Helvetica,
    Arial, sans-serif;
}

.stat-block {
  text-align: left;
  margin: 20px;
  display: inline-block;
  vertical-align: top;
  min-width: 560px;
  max-width: 30%;
  background: #FDF1DC;
  padding: 5px 10px 20px;
  box-shadow: 0 0 1.5em #867453;
}

.orange-border{
  display: block;
  background: #E69A28;
  border: 1px solid #000;
  height: 5px;
  padding: 0 10px 0;
  margin: -10px -10px 0;
  box-sizing: initial;
}
.orange-border.bottom{
  margin: 15px -10px -20px;
}
.creature-heading h1{
  font-family: 'Libre Baskerville', 'Lora', 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
  color: #922610;
  font-size: 23px;
  line-height: 1.2em;
  margin: 10px 0 0;
  letter-spacing: 1px;
  font-variant: small-caps;
  font-weight: bold;
}
.creature-heading h2{
  font-weight: normal;
  font-style: italic;
  font-size: 12px;
  line-height: 1.2em;
  margin: 0 0 10px;
}
.property-line h4,
.property-line p{
  display: inline;
  margin: 0;
  color: #922610;
  font-size: 13.5px;
  line-height: 1.2em;
}
.property-line h4{
  color: #7A200D;
}
.property-line{
  text-indent: -1em;
  padding-left: 1.1em;
  line-height: 1.4em;
}
.property-line.first{
  margin: 8px 0 0
}
.property-line.last{
  margin: 0 0 10px;
}
.property-block h4,
.property-block p{
  font-size: 13.5px;
  line-height: 1.2em;
  display: inline;
  margin: 0;
}
.property-block h4{
  font-style: italic;
}
.property-block{
  padding: 10px 2px 0;
}

h3{
  border-bottom: 1px solid #7A200D;
  color: #7A200D;
  font-size: 21px;
  font-variant: small-caps;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 20px 0 0;
  padding: 0 0 10px;
  text-indent: 5px;
  margin-bottom: 1ex;
}

@media print{
  .orange-border{
    display: none;
  }
  .stat-block,
  .property-line,
  .property-block{
    width: 100%;
    display: block;
  }
  .stat-block{
    width: 40%;
    display: inline-block;
    vertical-align: top;
  }
}
@media screen and (max-width: 575px){
  .stat-block{
    margin: 20px 0;
  }
}

#result {
  font-size: 50px;
  display: inline;
}

.hide_me_after_setup {
  font-size:  12px;
}

.result_area {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

details {
  margin-top: 1ex;
  margin-bottom: 1ex;
}

.armor_mirror {
  font-size: small;
}

.footnote {
  font-size: small;
}
